@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap%27');
* {
    font-family: Overpass;
    color: white;
}

body {
    background-color: #16060D;
}

.pizzaContainer{
    width: 33%;
    margin: 0;
}
.AllPizzaContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    text-align: center;
}

.pizzaImages{
    width: 50%;
}