@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap%27');
* {
    font-family: Overpass;
    color: white;
}

body {
    background-color: black;
}

.hide {
    display: none;
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
}